#abecedaire{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  text-align: center;
}
/* Webfont: OpticianSans-Regular */@font-face {
    font-family: 'OpticianSans';
    src: url('../font/Optiker-K.woff2') format('woff2'), /* Modern Browsers */
         url('../font/Optiker-K.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
body{
  font-family: 'OpticianSans';
  background-color: #08050E;
  color: #d8b9c3;
}

#backhome img{
  width: 40px;
  margin-top: 8px;
}
#bigtitle{
  position: absolute;
  display: inline;
  margin-left: 40px;
  top: 0;
}
header{
position: fixed;
margin-left: 70vw;
margin-top: 5px;
background-color: #08050E;
padding: 20px;
}

.intro{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#abecedaire > div {
  font-size: 4em;
  margin: 0;
}
figcaption {
  font-size: 0.3em;
}
.wrapper{
    padding: 10%;
  padding-top: 100px;
}
#abecedaire:target {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  text-align: left;
}
@media screen and (max-width: 1200px) {
  #abecedaire {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    text-align: left;
  }
}

/* ANIMATION CARDS */

/* LETTRE A */
.container {padding:50px;width:990px;margin:0 auto}
.sep {width:100%;text-align:center}
.sep .image-hover {margin:20px 20px 20px 0px}
.img-opacity svg {top:0px;right:0px;bottom:0px;left:0px}

.img-opacity .img-2 {
  opacity:0;
  transform: translate(0px,-20%);
}
.img-opacity:hover .img-2 {
  opacity:1;
transform: translate(0px,0%);
}
.centipede{
  transform: translate(0px,-8%)
}
.img-opacity:hover .centipede{
  transform: translate(0px,0%)
}
.img-opacity:hover .centipede
{
transition:all 3s ease-in-out;
-webkit-transition:all 3s ease-in-out;
-moz-transition:all 3s ease-in-out;
-ms-transition:all 3s ease-in-out;
-o-transition:all 3s ease-in-out;
}
.img-opacity .img-2
{
transition:all .6s ease-in-out;
-webkit-transition:all .6s ease-in-out;
-moz-transition:all .6s ease-in-out;
-ms-transition:all .6s ease-in-out;
-o-transition:all .6s ease-in-out;
}

.img-opacity:hover .img-2
{
transition:all .6s ease-in-out;
-webkit-transition:all .6s ease-in-out;
-moz-transition:all .6s ease-in-out;
-ms-transition:all .6s ease-in-out;
-o-transition:all .6s ease-in-out;
}

.img-opacity .centipede
{
transition:all 5s ease-in-out;
-webkit-transition:all 5s ease-in-out;
-moz-transition:all 5s ease-in-out;
-ms-transition:all 5s ease-in-out;
-o-transition:all 5s ease-in-out;
}


/* LETTRE B */
.two {
  width:100%;
  text-align:center;
  padding-top:15px;
}

@keyframes masuperanimation {
    0% {
        transform: translate(80px,0%) rotate(0deg);
    }

    100% {
        transform: translate(80px,0%) rotate(1000deg);
    }
}
#insects{
  width: 40%;
  animation: masuperanimation 16s linear alternate infinite;
  transition: 10s;
}

#CalqueB {
  opacity:0;
  transform: translate(0px,-10%);
}
#CalqueB:hover{
  opacity:1;
  transform: translate(0px,0%);
}

#CalqueB
{
transition:all .6s ease-in-out;
-webkit-transition:all .6s ease-in-out;
-moz-transition:all .6s ease-in-out;
-ms-transition:all .6s ease-in-out;
-o-transition:all .6s ease-in-out;
}

.two:hover #CalqueB
{
transition:all .6s ease-in-out;
-webkit-transition:all .6s ease-in-out;
-moz-transition:all .6s ease-in-out;
-ms-transition:all .6s ease-in-out;
-o-transition:all .6s ease-in-out;
}
